In [ ]:
#STRING SLICING:-
#you can return a range of characters by using slicing concept.
#you have to specify start index and end index ,seperated by a colon,to return a part of string.

In [1]:
b = "Hello , World!"
print(b[2:5])
#slicing is done by using variable name and indexing in square brackets.

llo

In [2]:
#If we want slice from start:-
b = "hello , World!"
print(b[:5])

hello

In [3]:
#slicing to the end:-
b = "Hello, world!"
print(b[2:])

llo, world!

In [ ]:
#Indexing can be done also in reverse way by using negative indexing.

In [5]:
b = "Hello, world!"
print(b[-5:-2])
#now here -2 is index of 'l' and - 5 is index of 
#always last index is not considered

orl

In [ ]:
#MODIFY STRINGS:-
#python has many built in methods that you can use on strings.

In [6]:
#Uppercase()
a = "Hello,world!"
print(a.upper())
#syntax for converting into upper case a.upper()

HELLO,WORLD!

In [7]:
#Lowercae()
a = "HELLO,WORLD!"
print(a.lower())
#prints the string in lower case

hello,world!

In [ ]:
#REMOVE WHITESPACE:
#whitespace is before /after any text

In [8]:
a = " Hello , World! "
print(a.strip())

# a has some whitespace before and after the string
#to remove the space from beginning or the end

Hello , World!

In [9]:
#REPLACE STRING:-
a = "Hello, World!"
print(a.replace("H","J"))
#the word to be replaced is written first and replaced with what is written next.
#replace is used to replace any letter from the given string.

Jello, World!

In [10]:
#Split string:-
print(a.split(","))
#returns ['hello','World!']
#it returns a list of words

['Hello', ' World!']

In [ ]:
#strings methods:-

In [ ]:
#STRING CONCATENATION:-

In [ ]:
#STRING CONCATENATION:-
#to concatenate ,or combine,two strings you can use the + operator.

In [11]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [12]:
#can add spaces betweeen the words
a= "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [ ]:
#STRING FORMATTING:-
#String format:-

In [ ]:
#We can combine strings and numbers by using f - strings or format methos!

In [ ]:
#F - strings:-
#To specify string as an f- string ,simply put an 'f' in front of string
#andn add curly braces {} for variables and othee operations.

In [13]:
age = 36
txt = f"My name is John , I am {age}"
#f"" is used for f string and{} for variables
print(txt)

My name is John , I am 36

In [ ]:
#Place Holder:-
#place holder is given in {}
#It also includes string modifiers too

#MODIFIER CAN BE ADDED BY ':'

In [15]:
price = 59
txt = f"The price os {price:.2f} dollars"
print(txt)

The price os 59.00 dollars

In [ ]:
#placeholder can also hold mathematical operations.

In [17]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

In [ ]:
#PYTHON - ESCAPE CHARACTERS:-
#to insert characters that are illegal in string ,use an escape character.

#An escape character is a backslash \ followed by character you want

In [19]:
txt = "We are so-called \"vikings\"from the north."
print(txt)

We are so-called "vikings"from the north.

In [ ]:
#\n - next line
#\'  - single qoute
#\t - tab
#\b - backspace
#\f - form feed
#\ooo - octal value
#\xhh - Hex value

In [ ]:
#String Methods:-
#python has a set of build - in methods that you can use a on strings

In [20]:
name = "Chinmay"
print(name)

Chinmay

In [21]:
#Capitalize - converts first character to upper case
name.capitalize()

'Chinmay'

In [22]:
#casefold - converts string into lower case
name.casefold()

'chinmay'

In [35]:
txt = "banana"
x = txt.center(20)
#center creates spaces of index mentioned as parameter.
#center () method will center align the string
print(x)

       banana

In [37]:
#count()
txt = "I love apples, apple are my favourite fruit"
x = txt.count("apple")
print(x)
#count() - is used to count how many times the value has been repeated.

2

In [40]:
#encode:-
text = "My name is Stale"
x = text.encode()

print(x)

b'My name is Stale'

In [42]:
txt = "Hello, welcome to my world."
x = txt.endswith(".")
#if something ends with some value then it returns true 
print(x)

True

In [46]:
#index() - finds specified value and returns the position of where it was found
txt = "Hello,welcome to my world."
x = txt.index("welcome")
print(x)

6

In [ ]:
#index() method is almost the same as method().

In [47]:
txt = "Company12"
x = txt.isalnum()
# isalnum is used to know whether the following value is alpha numeric or not.

print(x)

True

In [48]:
#isalpha - returns true if all characters in string are alphabet.
y = "Chinmay"
y.isalpha()

True

In [49]:
#isdecimal() - returns True if all characters in the string are digits.
num = "123456"
num.isdecimal()

True

In [ ]:
#isdigit()
#returns true if all characters in the string are digits.

In [50]:
txt1 = "50800"
txt1.isdigit()

True

In [52]:
#isidentifier :-
#identifier is valid when it only contains alphanumeric letters(a-z)
#and (0-9), and (0-9) or underscores(_) 
txt = "Demo"
x= txt.isidentifier()
print(x)

True

In [ ]:
#isupper() - returns  true if all characters in the string are lower
#islower() - returns true if all characters in the string are upper

In [ ]:
#isnumeric - returns true if all characters in the string are numeric are not.

In [53]:
num1 = "564736"
num1.isnumeric()

True