In [12]:
#Function for string operations :- part 2

s = 'jacobian'
s
s1 = 'LOOP'
s1
#strings are mutable and they can be changed or mutated
#slicing creates a new copy of string

'LOOP'

In [9]:
#for capitalize the first letter of the string use 
#capitalize method
r = s.capitalize()
r

#it doesnt not stores the change we need to store the change in  different variable
#the position of th original string cannot be changed ,either we have to change the main position of the string

'Jacobian'

In [10]:
#to Capitalize everything that is each and every letter in string
s.upper()

'JACOBIAN'

In [14]:
#To convert whole string into smaller letters or small case we need 
#to use .lower()
s1.lower()
#casefold() - used to convert to smallercase
s1.casefold()

'loop'

In [15]:
#If we have to check whether the string has upper case or lower case 
#to know the compositon of the string if we dont know the data
#It uses the true or false answers to get to know about uppercase and lower case

s.isupper()

False

In [16]:
s1.islower()
#It is just used to know about the alphabetical format of string
#every function starting with 'is' is a question to string

False

In [19]:
#There is concept of alpha - numeric strings that is both alphabets and strings are present in string
s2 = 'loop78'
#to check whether it is alphanumeric or not use 
s.isalnum() #returns true as it has both aplha and numeric value

AttributeError: 'str' object has no attribute 'alpha'

In [25]:
s2.isalpha() # returns false
#isalpha() is used to know whether  the the sting has only alphabets or not.

s2.isdigit() # returns false
# isdigit() is used to check whether the following the variable has only characters 
s3 = '234'
s3
s3.isdigit()

True

In [26]:
#index() function is used to return at what position the value of that data or element is present
#we have to pass the argument to the function 

s3.index('3')

1

In [27]:
s3.isdecimal()  #to check whether the string has decimal numbers or not

True

In [3]:
#Strings cannot return the change they are the copy of original string
s4 = '78'
s4
#replace()  function used to replace the value of any digit in the string 
#just use the function and mention the original number and the number 
#to be changed

s4.replace('8','9')
#using the function is creating another copy of the string and it can
#or cannot be stored in variable

'79'

In [5]:
#concatenation of strings
s4 + '000'
s4 + '000' + '900'
#joining of string

'78000900'

In [15]:
#strip function
s5 = '   hello'
s5
s5.strip()
s5.lstrip()
#strip() function is used to avoid unusual gaps spaces iin strings
#there are two types of strips - lstrip and rstrip 

s6 = 'world  '
s6.rstrip()

'world'

In [17]:
#find() function used to find the particular character in string
# it returns the index value of that element
s5.find('q')

#if it returns -1 then char is not present in that string
s5.find('h')

3

In [22]:
#concatenation
s7 = 'hi'
s8 = '@python'
s7 + s8

'hi@python'

In [27]:



# TUPLES : - 
#tuples are like lists they are collection of elements call collective datatypes 
#lists are represented in square bracket where as tuples are written in 
#parenthesis that is open brackets.

#tuples are immutable
#tuples are have indexing which starts from 0 and ends with -1
j = (1,'python')
j


#type() function used to know the type of the datatype
type(j)


j[0] - #returns 1 as output


j[-1] #returns python as output in tuple
# tuples are immutabe

'python'

In [28]:
j[0] = 4

TypeError: 'tuple' object does not support item assignment

In [29]:
#Functions and methods for tuples: - 


#index/sort function:-
j.index(1)
#returns the index number of data

0

In [30]:
j.index('python')

1

In [31]:
j.index(2)
#no element 2 in tuple present

ValueError: tuple.index(x): x not in tuple

In [34]:
#count() method : -
j1 = (1,1,'python')
j1
j1.count(1)
#returns how many times the data as argument in function has occured

2

In [48]:
#SETS: - 
#sets are also colletion of items
#it does not contains any duplicate value
#it contains only unique values and denoted in braces{}

set1 = {1,2,3}
set1
set3 = {2,3,6}
set3

{2, 3, 6}

In [37]:
type(set1)

set

In [39]:
set0 = {1,2,3,3}
set0 
#there is no any error if there are any duplicate values 
#set automatically returns the single value and neglects the duplicate values

{1, 2, 3}

In [41]:
set2 = {1,1,2,4,4}
set2

{1, 2, 4}

In [44]:
#we can also use keyword set for converting any datatype to set to avoid 
#duplicate values
l1 = [1,2,3,4,4]
list(set(l1))
#set used as keyword

[1, 2, 3, 4]

In [46]:
j
set(j)#converted to set by using keyword

{1, 'python'}

In [49]:
#Set operations:- 
set1.intersection(set3)
#intersections take common values

{2, 3}

In [50]:
set1.union(set3)
#all values are included in union without repetation

{1, 2, 3, 6}

In [51]:
set1.difference(set3)

{1}

In [54]:
#pop() function in sets pops out the first element always
set1.pop()
set1.pop()
set1.pop()

KeyError: 'pop from an empty set'

In [58]:
s = {1,2,3}
s
g = {2,3}
g

#subsets

#to check whether one set is subset of other or not

{2, 3}

In [59]:
#issubset() function is used to check subset

s.issubset(g)
#s is not suubset of g

False

In [60]:
g.issubset(s)
#g is subset of s

True

#These are built in datatypes in python

In [61]:
#There are also primitive datatypes in python
#int,float,string

#keywords - int,float,str

int(9.77)
#converts decimal to integer

9

In [62]:
str(9)
#converted integer to string by quoatation

'9'